<div class="bg-white p-6 md:mx-auto">
  <div class="text-center">
    <p class="md:text-2xl text-base text-gray-900 font-semibold text-center">Are you sure?</p>
    <p class="text-gray-600 my-2">If you withdraw from Ecommerce, you will no longer be able to log in with this account.</p>
    <div class="flex items-center justify-center space-x-5">
      <div class="py-8 text-center">
        <%= link_to withdraw_customers_path, data: { "turbo-method": :patch }, class: "px-5 py-2.5 focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-md" do %>
          Withdraw
        <% end %>
      </div>
      <div class="py-8 text-center">
        <%= link_to edit_customer_registration_path, class: "px-5 py-2.5 text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-md" do %>
          Cancel
        <% end %>
      </div>
    </div>
  </div>
</div>
