<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello</p>
    <p>We are happy to let you know that we have received your order.</p>
    <p>Once your package ships, we will send you an email.</p>
    <p>Click on the link below for ordering details.</p>
    <p><%= @url %></p>
  </body>
</html>
